<!DOCTYPE html>
<html>
<head>
    <title>Route Data</title>
    <script src="{{ url_for('static', filename='js/wild_enc_fill.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wild_enc.css') }}">
    <script>
        function getDataPath() {
            return "{{ url_for('static', filename='data/') }}"
        }
    </script>
</head>
<body>
<div class="container">
    <h1>Route Data</h1>
    <button id="download" type="button">Save State</button>
    <button id="upload-button" type="button">Load State</button>
    <button id="collapse-all" type="button">Collapse All</button>
    <table>
        <thead>
            <tr>
                <th>Area</th>
                <th>Habitat</th>
                <th>Subcategory</th>
                <th>Pokemon</th>
            </tr>
        </thead>
        <tbody class="wild-area-table" id="{{filename}}">

        </tbody>
    </table>
</div>
</body>
</html>
