<!DOCTYPE html>
<html>
<head>
    <title>Route Data</title>
    <script src="{{ url_for('static', filename='js/wild_enc.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wild_enc.css') }}">
</head>
<body>
<div class="container">
    <h1>Route Data</h1>
    <table>
        {% import 'pokemon_cell.html' as pokecell %}
        <tr>
            <th>Area</th>
            <th>Habitat</th>
            <th>Subcategory</th>
            <th>Pokemon</th>
        </tr>
        {% for area, details in data.items() %}
            {% set area_size = namespace(value=0) %} {# namespace to work around scoping #}
            {% for habitat, subcategories in details.items() %}
                {% if subcategories is mapping %}
                    {% for subcategory, pokemon_list in subcategories.items() %}
                        {% set area_size.value = area_size.value + pokemon_list|length %}
                    {% endfor %}
                {% else %}
                    {% set area_size.value = area_size.value + subcategories|length %}
                {% endif %}
            {% endfor %}

            {% for habitat, subcategories in details.items() %}
                {% set area_first = loop.first %}

                {% set habitat_size = namespace(value=0) %} {# as above #}
                {% if subcategories is mapping %}
                    {% for subcategory, pokemon_list in subcategories.items() %}
                        {% set habitat_size.value  = habitat_size.value  + pokemon_list|length %}
                    {% endfor %}
                {% else %}
                    {% set habitat_size.value  = habitat_size.value  + subcategories|length %}
                {% endif %}

                {% if subcategories is mapping %}
                    {% for subcategory, pokemon_list in subcategories.items() %}
                        {% set habitat_first = loop.first %}

                        {% for pokemon in pokemon_list %}
                            {% set subcat_first = loop.first %}

                            <tr>
                                {% if area_first and habitat_first and subcat_first %}
                                    <td rowspan="{{ area_size.value }}" class="area-cell">{{ area }}</td>
                                {% endif %}
                                {% if habitat_first and subcat_first %}
                                    <td rowspan="{{ habitat_size.value }}" class="habitat-cell">{{ habitat }}</td>
                                {% endif %}
                                {% if subcat_first %}
                                    <td rowspan="{{ pokemon_list|length }}" class="subcat-cell">{{ subcategory }}</td>
                                {% endif %}
                                <td class="pokemon-cell">{{ pokecell.make(pokemon) }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for pokemon in subcategories %}
                        {% set habitat_first = loop.first %}
                        <tr>
                            {% if area_first and habitat_first %}
                                <td rowspan="{{ area_size.value }}" class="area-cell">{{ area }}</td>
                            {% endif %}
                            {% if habitat_first %}
                                <td rowspan="{{ habitat_size.value }}" class="habitat-cell">{{ habitat }}</td>
                                <td rowspan="{{ habitat_size.value }}" class="subcat-cell blank"></td>
                            {% endif %}
                            <td class="pokemon-cell">{{ pokecell.make(pokemon) }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</div>
</body>
</html>
